@{
    ViewData["Title"] = "Access Denied";
}
<h1 class="text-danger">Access Denied</h1>
<h3 class="text-warning">You are not authoried for this page.</h3>
<div class="d-flex justify-content-center">
    <h2>
        <a class="text-info bg-yellow" style="text-decoration: none;" asp-area="" asp-controller="Home"
            asp-action="Index">Back to Home</a>
    </h2>
</div>
