@model ParkyWeb.Models.User;

@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<div class="form-control">
    <form method="post">
        <input asp-for="Username" type="text" placeholder="Username..." />
        <input asp-for="Password" type="text" placeholder="Password..." />
        <button type="submit" value="Submit">Register</button>
    </form>
</div>